anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1688651106312/work/dist
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///croot/argon2-cffi-bindings_1736182440035/work
arviz @ file:///home/conda/feedstock_root/build_artifacts/arviz_1734087494209/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
attrs @ file:///croot/attrs_1734533101012/work
babel @ file:///croot/babel_1737454360933/work
beautifulsoup4 @ file:///work/perseverance-python-buildout/croot/beautifulsoup4-split_1728385754779/work
bleach @ file:///io/buildout/croot/bleach_1732918169505/work
Brotli @ file:///croot/brotli-split_1736182456865/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi @ file:///croot/certifi_1738623731865/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
cmdstanpy @ file:///home/conda/feedstock_root/build_artifacts/cmdstanpy_1734212843041/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm @ file:///work/perseverance-python-buildout/croot/comm_1728387093347/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1731428302318/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
debugpy @ file:///croot/debugpy_1736267418885/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
entrypoints @ file:///work/perseverance-python-buildout/croot/entrypoints_1728387750553/work
exceptiongroup @ file:///work/perseverance-python-buildout/croot/exceptiongroup_1728488778948/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema @ file:///io/buildout/croot/python-fastjsonschema_1735874150137/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1738940303262/work
h5netcdf @ file:///home/conda/feedstock_root/build_artifacts/h5netcdf_1737887272441/work
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1734544959928/work
idna @ file:///work/perseverance-python-buildout/croot/idna_1728385935861/work
ipykernel @ file:///croot/ipykernel_1737660677549/work
ipython @ file:///croot/ipython_1734548052611/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///io/buildout/croot/ipywidgets_1735843964234/work
jedi @ file:///croot/jedi_1733987392413/work
Jinja2 @ file:///croot/jinja2_1737760107953/work
json5 @ file:///io/perseverance-python-buildout/croot/json5_1731701245495/work
jsonschema @ file:///io/perseverance-python-buildout/croot/jsonschema_1731700598024/work
jsonschema-specifications @ file:///io/perseverance-python-buildout/croot/jsonschema-specifications_1731700488901/work
jupyter @ file:///home/conda/feedstock_root/build_artifacts/jupyter_1733818543322/work
jupyter-client @ file:///opt/conda/conda-bld/jupyter_client_1643638337975/work
jupyter-console @ file:///opt/conda/conda-bld/jupyter_console_1647002188872/work
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1693923066986/work
jupyter_core @ file:///work/perseverance-python-buildout/croot/jupyter_core_1728385169811/work
jupyterlab @ file:///opt/conda/conda-bld/jupyterlab_1647445413472/work
jupyterlab-server @ file:///opt/conda/conda-bld/jupyterlab_server_1644500396812/work
jupyterlab_pygments @ file:///io/buildout/croot/jupyterlab_pygments_1732920599052/work
jupyterlab_widgets @ file:///io/buildout/croot/jupyterlab_widgets_1735843098209/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1725459255340/work
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib==3.10.0
matplotlib-inline @ file:///io/buildout/croot/matplotlib-inline_1732912690718/work
mistune @ file:///work/perseverance-python-buildout/croot/mistune_1728386043628/work
munkres==1.1.4
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1682598312710/work
nbclient @ file:///work/perseverance-python-buildout/croot/nbclient_1728386170657/work
nbconvert @ file:///io/buildout/croot/nbconvert-meta_1735841990030/work
nbformat @ file:///work/perseverance-python-buildout/croot/nbformat_1728385580878/work
nest_asyncio @ file:///work/perseverance-python-buildout/croot/nest-asyncio_1728387361665/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1715848908871/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1733408315203/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1737331041031/work/dist/numpy-2.2.2-cp313-cp313-linux_x86_64.whl#sha256=010290188fd9addcaca3d5f16bf5e00e3a89c7ad38f803db33494907f4cf9634
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1726878403859/work
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///croot/parso_1733963305961/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1733792384640/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1735929688808/work
platformdirs @ file:///work/perseverance-python-buildout/croot/platformdirs_1728384968048/work
prometheus-client @ file:///opt/conda/conda-bld/prometheus_client_1643788673601/work
prompt_toolkit @ file:///work/perseverance-python-buildout/croot/prompt-toolkit_1728511366266/work
psutil @ file:///croot/psutil_1736367091698/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments @ file:///work/perseverance-python-buildout/croot/pygments_1728385655722/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
PySide6==6.8.2
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1728386193338/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
pyzmq @ file:///croot/pyzmq_1734687138743/work
referencing @ file:///io/perseverance-python-buildout/croot/referencing_1731700447964/work
requests @ file:///croot/requests_1730999120400/work
rpds-py @ file:///croot/rpds-py_1736541261634/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1736617218858/work/dist/scipy-1.15.1-cp313-cp313-linux_x86_64.whl#sha256=e91cc6d084ad66b8f58747e677f2f31d098df45e70ec382812235c7fd2cfdbbc
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
Send2Trash @ file:///croot/send2trash_1736540790175/work
setuptools==75.8.0
shiboken6==6.8.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
sniffio @ file:///work/perseverance-python-buildout/croot/sniffio_1728386342155/work
soupsieve @ file:///work/perseverance-python-buildout/croot/soupsieve_1728385708765/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
stanio @ file:///home/conda/feedstock_root/build_artifacts/stanio_1734581598953/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1727986692822/work
terminado @ file:///work/perseverance-python-buildout/croot/terminado_1728386365608/work
tinycss2 @ file:///work/perseverance-python-buildout/croot/tinycss2_1728386390557/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1732615881993/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets @ file:///work/perseverance-python-buildout/croot/traitlets_1728385099292/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
urllib3 @ file:///croot/urllib3_1737133630106/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings @ file:///work/perseverance-python-buildout/croot/webencodings_1728385731103/work
websocket-client @ file:///work/perseverance-python-buildout/croot/websocket-client_1728386934860/work
widgetsnbextension @ file:///io/buildout/croot/widgetsnbextension_1735843395399/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1738313659268/work
xarray-einstats @ file:///home/conda/feedstock_root/build_artifacts/xarray-einstats_1734624928490/work
